{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load i18n %}
{% block cover %}
<section class="hero hero-with-header bg-light separator-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "en" %}
        <h1>Latest Blog Posts</h1>
        {% else %}
        <h1>Tanulni tanulunk</h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

    <!-- left sidebar -->
    <section class="p-0 bg-dot">
        <div class="container py-4 bg-white">
            <div class="row justify-content-center">
                <div class="col-md-12">
        <ul class="masonry row gutter-3">
          {% for page in self.child_pages %}

          <li class="col-md-6">
            <article class="card card-minimal">
                <a href="{% pageurl page %}" class="card-img-container">
                    {% image page.thumbnail max-600x600 as tmp_photo %}


                    <img class="card-img" src="{{tmp_photo.url}}" alt="{{ page.title }}">
              </a>
              <div class="card-body">
                <h5 class="card-title"><a href="{% pageurl page %}">
                    {{ page.title }}

                  </a></h5>
                <span class="card-meta"> {{page.lead|richtext}}</span>
              </div>
            </article>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- / right sidebar -->
{% endblock content %}
