{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <section class="big_text p-0 {% if not page.hero_image and not page.hero_slideshow %}pt-5{% endif %} bg-gray">
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="lead text-white">{{ page.lead|richtext}}</div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="big_text p-0 bg-dot">
        <div class="container py-4 bg-white">
            {% for block in page.body %}
                <div class="row justify-content-center block-{{ block.block_type }}">
                    {% if block.block_type == 'image_block' or block.block_type == 'slide_show' or block.block_type == 'video_presenation' %}
                        <div class="col-md-12 col-lg-12">
                    {% else %}
                            <div class="col-md-10 col-lg-8">
                    {% endif %}
                    {% if block.block_type == 'slide_show' %}
                        <div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="true">
                            {% for item in block.value.slides %}
                                <figure class="photo">
                                    {% image item.value.image max-1920x1200 as tmp_photo %}
                                    <img src="{{tmp_photo.url}}" alt="{% if LANGUAGE_CODE == 'en' %}{{ item.value.caption_en }}{% else %}{{ item.value.caption_hu }}{% endif %}">
                                </figure>
                            {% endfor %}
                        </div><!-- .owl-carousel .owl-carousel-single -->
                    {% elif block.block_type == 'block_quote' %}
                        <div class="text-white">
                            <blockquote class="blockquote blockquote-2 bg-primary">
                                {{ block.value.text|richtext }}
                                <footer class="blockquote-footer"> {{block.value.attribute_name}}</footer>
                            </blockquote>
                        </div><!-- .text-white -->
                    {% else %}
                        {% include_block block with index=forloop.counter %}
                    {% endif %}
                            </div><!-- .col -->
                        </div><!-- .row .justify-content-center -->
            {% endfor %}
                </div><!-- .container -->
    </section><!-- .big_text -->

    <!-- news -->
    <section class="bg-light separator-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>
                        {% if LANGUAGE_CODE == "en" %}
                            <h1>Latest Blog Posts</h1>
                        {% else %}
                            <h1>Legfrissebb posztok</h1>
                        {% endif %}

                    </h2>
                </div>
            </div>
            <div class="row gutter-2">

                {% for post in self.get_blog.latest_posts %}
                    {% image post.thumbnail max-600x600 as tmp_photo %}

                    <div class="col-md-6 col-lg-4">
                        <article class="tile">
                            <div class="tile-image" style="background-image: url({{tmp_photo.url}})"></div>
                            <a href="{% pageurl post %}" class="tile-content">
                                <div class="tile-header">
                                    <span class="eyebrow mb-1">Blog</span>
                                    <h3>{{post.title}}</h3>
                                </div>
                                <div class=" tile-footer">
                                    <button class="btn btn-ico btn-outline-white btn-rounded">
                                        <i class="icon-arrow-right2 fs-20"></i>
                                    </button>
                                </div>
                            </a>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- / news -->
{% endblock content %}
