{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load widget_tweaks %}

{% block content %}
<section class="pb-4  pt-10">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ page.title }}</h1>
        {% if form %}
        <p class="lead"> {{ page.intro|richtext }} </p>
        <form method="post" novalidate>
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
          </div>
          {% endif %}

          {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control is-valid" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
        {% else %}
          <div>You are registered - You can fill in the form only one time</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
