{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load widget_tweaks %}


{% block content %}
<section class="pb-4">
  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-12 col-lg-8">
        <p>{{page.thank_you_text|richtext}}<p>
      </div>
    </div>
  </div>
</section>




{% endblock %}
