{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load i18n %}

{% block content %}
{% include "includes/blocks.html" %}

<!-- teachers are coming -->
<!-- user carousel -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>  {% get_current_language as LANGUAGE_CODE %}
          {% if LANGUAGE_CODE == "en" %}
              Our Team
          {% else %}
            Csapatunk
          {% endif %}
        </h2>
      </div>

    </div>
    <div class="row" data-aos="fade-left">
        <div class="col">
            <div class="owl-carousel visible" data-items="[3]" data-nav="true" data-margin="10" data-auto-width="true" data-item-width="300">
                {% for placement in self.teacher_placements.all %}
                    <figure class="user">
                        <a data-toggle="modal" data-target="#modal-placement-{{placement.id}}" class="user-photo">
                            {% image placement.teacher.image fill-300x300 %}
                            <figcaption class="user-caption">
                                <h4>{{ placement.teacher.last_name }} {{ placement.teacher.first_name }}</h4>
                                <span>{{placement.title}}</span>
                            </figcaption>
                        </a>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
<!-- / user carousel -->

{% for placement in self.teacher_placements.all %}
<div class="modal fade" id="modal-placement-{{placement.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-image">
        {% image placement.teacher.image fill-500x500 class="modal-image" %}

        <button type="button" class="close close-absolute" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-x"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h3> {{ placement.teacher.last_name }}  {{ placement.teacher.first_name }}</h3>
        <p>  {{placement.teacher.bio|safe}}

        </p>
      </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}


<!-- end of teachers -->





{% endblock content %}
