{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    {% include "home/include/header.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
              {% for slide in page.slides %}


                  {% image slide.value.image width-400 %}

                  <caption>{{ slide.value.caption_hu}}</caption>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
