{% extends "base.html" %} 
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %} 


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul class="masonry row gutter-2">
        {% for item in page.items %}

        
          {% include_block item with index=forloop.counter %}
        {% endfor %} 

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="" class="btn btn-outline-secondary text-black">Load More</a>
      </div>
    </div>
  </div>
</section>
<!-- / right sidebar -->
{% endblock content %}
