{% load wagtailimages_tags wagtailcore_tags %}

<div class="bg-dot">
    {% for block in page.body %}
        {% if block.block_type == 'heading_block' %}
            {% include_block block with index=forloop.counter %}
        {% else %}
            {% comment %}Add an extra top margin when rendering the first
            element and there is no hero object.{% endcomment %}
            <section class="p-0 {% if forloop.counter == 1 and not page.hero_image and not page.hero_slideshow %}pt-5{%  endif %}">
                <div class="container py-4 bg-white">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            {% include_block block with index=forloop.counter %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>
