{% load wagtailcore_tags %}

{% if self.get_ancestors|length > 1 %}
  <ul>
    {% for page in self.get_ancestors %}
      {% if page.is_root == False %}
        <li><a href=”{% pageurl page %}”>{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    <li class=”active”>{{ self.title }}</li>
  </ul>
{% endif %}
