{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load shuffle %}

{% comment %}
cover is either a single page or a slideshow. They are very alike but we use
two different if-else branch for the time being
{% endcomment %}

{% if page.hero_image %}

{% image page.hero_image fill-1920x600 as image %}

<!-- cover -->
<section class="p-0">
  <div class="swiper-container text-white" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(250px);">
    <div class="swiper-wrapper">
      <div class="swiper-slide vh-100">
        <div class="image image-overlay image-zoom" style="background-image:url({{ image.url }})"></div>
        <div class="caption col-md-5" data-aos="fade-up">
          <div class="container">
            <div class="row align-items-center vh-100">
              <div class="col-lg-10" data-swiper-parallax-y="-100%">
                  <h1 class="display-3">
                      <span class="caption-text-wrap"><span class="caption-text">
                          {{ page.hero_text_title }} <br><i class="font-weight-bold" id="typed"></i>
                      </span></span>
                  </h1>
                <div id="typed-strings">
                  <p> {{ page.hero_text_subtitle }}</p>
                </div>
                {% if page.hero_cta %}
                <a href="{{ page.hero_cta_link }}" class="btn btn-rounded btn-white px-5"> {{ page.hero_cta }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-footer mb-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- / cover -->

{% elif page.hero_slideshow %}

<!-- cover -->
<section class="p-0">
  <div class="swiper-container text-white data-autoplay='true'" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(250px);">
    <div class="swiper-wrapper">
      {% for item in self.hero_slideshow.slides|shuffle %}
      {% image item.value.image fill-1920x1324 as tmp_photo %}


      <div class="swiper-slide vh-100">
        <div class="image image-overlay" style="background-image:url({{tmp_photo.url}})"></div>
        <div class="caption col-md-5">
          <div class="container">
            <div class="row justify-content-between vh-100">
              <div class="col-md-12 align-self-center text-md-left" data-swiper-parallax-y="-250%">
                  <h1 class="display-3 font-weight-bold">
                      <span class="caption-text-wrap"><span class="caption-text">
                          {{item.value.caption}}
                      </span></span>
                  </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="swiper-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <div class="mouse"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination swiper-pagination-vertical"></div>
  </div>
</section>
<!-- / cover -->
{% else %}


  </section>
{% endif %}
