{% load static %}
{% load menu_tags %}
<!-- footer -->
<footer class="bg-gray text-white">
    <div class="container pt-1 pb-3">
        <div class="row justify-content-between align-items-center">

            <div class="col-md-3 text-center text-md-left mb-0">
                <img class="logo logo-sm" src="{% static 'logo_white.png' %}" alt="Logo">
            </div>

            <div class="col-md-9 text-center text-md-right">
                {% flat_menu 'footer' template="includes/footer_menu.html" max_levels=1 show_menu_heading=False  use_specific=USE_SPECIFIC_TOP_LEVEL  fall_back_to_default_site_menus=True %}
                {% with settings.home.SocialMediaSettings as social %}
                    <ul class="socials">
                        {% if social.facebook %}
                            <li><a href="{{ social.facebook }}" class="icon-facebook fs-20"></a></li>
                        {% endif %}
                        {% if social.instagram %}
                            <li><a href="" class="icon-instagram fs-20"></a></li>
                        {% endif %}
                        {% if social.twitter %}
                            <li><a href="{{ social.twitter }}" class="icon-twitter fs-20"></a></li>
                        {% endif %}
                        {% if social.linkedin %}
                            <li><a href="" class="icon-linkedin fs-20"></a></li>
                        {% endif %}
                    </ul>
                {% endwith %}
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->



<script src="{% static "/js/vendor.js" %}"></script>
<script src="{% static "/js/app.js" %}?d39e149d892d7823183a09381603663e0142bf23" ></script>
