{% load menu_tags %}
{% if menu_items %}
  <ul class="nav">
    {% for item in menu_items %}
      <li class="nav-item">
        <a href="{{ item.href }}" class="nav-link">{{ item.text }}</a> {% if item.has_children_in_menu %}{% sub_menu item %}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
