{% load menu_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load i18n %}
{% load social_settings %}
{% retrieve_social_settings %}


<!-- header -->
<header class="header-sticky header-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand navbar-brand-lg" href="/">
                <img class="navbar-logo navbar-logo-dark" src="{% static 'logo.png' %}" alt="{{ social_settings.og_title }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- menu comes here -->
                {% if page.hide_site_navigation %}
                    <ul class="navbar-nav align-items-center mr-auto"> </ul>
                    <!-- this is a landing page -->
                {% else %}
                    {% main_menu max_levels=3 template="includes/main_menu.html" %}
                {% endif %}
                <ul class="navbar-nav align-items-center mr-0 navbar-extra">
                    {% if settings.home.I18NSettings.language_chooser %}
                        <li class="nav-item language-chooser">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                                        <input name="language" type="hidden" value="{{ language.code }}" />
                                        <button type="submit" role="link" class="nav-link">{{ language.name_local }}</button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout
                            {% if request.user.first_name %}
                                <span> ({{ request.user.first_name }})</span>
                            {% endif %}
                        </a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login/auth0?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- header -->
