{% load static %}
{% load wagtailimages_tags %}
{% load social_settings %}
{% retrieve_social_settings %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

{% if social_settings.og_title %}
    <meta property="og:title" content="{{ social_settings.og_title }}"/>
    <meta property="og:site_name" content="{{ social_settings.og_title }}"/>
{% endif %}
{% if social_settings.og_description %}
    <meta property="og:description" content="{{ social_settings.og_description }}"/>
{% endif %}
{% if social_settings.og_image %}
    {% image social_settings.og_image original as image %}
    <meta property="og:image" content="{{image.url}}"/>
    <meta property="og:image:width" content="{{image.width}}"/>
    <meta property="og:image:height" content="{{image.height}}"/>
{% endif %}
<meta property="og:url" content="{{page.url}}"/>
<meta property="og:type" content="website"/>

{% include 'includes/tracking-head.html' %}

<link rel="shortcut icon" href="{% static "/favicon.ico" %}">
<link rel="stylesheet" href="{% static "/css/vendor.css" %}"/>
<link rel="stylesheet" href="{% static "/css/style.css" %}"/>
