{% load menu_tags %}
{% load i18n %}
<ul class="navbar-nav align-items-center mr-auto" id="navbarDropdown">
  {% for item in menu_items %}
  {% if item.has_children_in_menu %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ item.text }}
    </a>
    {% sub_menu item template="includes/sub_menu_simple.html" %}
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href=" {{ item.href }}" role="button">
      {% get_current_language as LANGUAGE_CODE %}
      {% if item.text == "Jelentkezés" and LANGUAGE_CODE == "en" %}
          Application
      {% elif item.text == "Középiskola" and LANGUAGE_CODE == "en" %}
        High School
      {% else %}
      {{ item.text }}
      {% endif %}
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
