<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  {% for item in menu_items %}

  <a class="dropdown-item" href=" {{ item.href }}">
    <span> {{ item.text }}</span>
    {% if item.menu_summary %}
    <p> {{ item.menu_summary}}</p>
    {% endif %}
  </a>

  {% endfor %}
</div>
