<!-- accordion -->

<div
  class="accordion-group {%if self.style == 'steps'%}accordion-group-steps{%elif self.style == 'minimal'%}accordion-group-minimal{%endif%}"
  data-accordion-group
>
  {% for tab in self.tabs %}
  <div class="accordion" data-accordion>
    <div class="accordion-control" data-control>
      <h5>{{ tab.title}}</h5>
    </div>
    <div
      class="accordion-content"
      data-content
      style="
        transition: max-height 300ms ease 0s;
        max-height: 0px;
        overflow: hidden;
      "
    >
      <div class="accordion-content-wrapper">
        <p>{{ tab.content }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
