
{% load wagtailimages_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% comment %}
<blockquote class="blockquote blockquote-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <footer class="blockquote-footer">
    <div class="media align-items-center">
      <img class="avatar user-rounded" src="path/to/image" alt="Avatar">
      <div class="media-body ml-2">
        <span class="d-block mb-0 text-black">Michael Doe</span>
        <small>Google CEO</small>
      </div>
    </div>
  </footer>
</blockquote>
{% endcomment %}

<blockquote class="blockquote blockquote-1">
  <p>
    {{self.text}}

  </p>

  <footer class="blockquote-footer">
    <div class="media align-items-center">

        {% image self.image fill-200x200-c100 class="avatar user-rounded" alt="{{ self.attribute_name_hu }}" %}
      <div class="media-body ml-2">
        <span class="d-block mb-0 text-black">

          {{ self.attribute_name}}

        </span>
        {% if self.title  %}
          <small>

            {{ self.title}}

            </small>
        {% endif %}
      </div>
    </div>
  </footer>


</blockquote>
