{% load wagtailcore_tags %}\
<section>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10">
<div class="row widget-columns-1-1">
	<div class="col-sm-6 col">
		{% include_block left_column %}
	</div>
	<div class="col-sm-6 col">
		{% include_block right_column %}
	</div>
</div><!-- widget-columns-1-1 -->
</div>
</div>
</section>
