{%if self.style == 'minimal'%}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8 text-center">
    <p class="lead">
      <b>{{self.calling}}</b> {{self.description}}
      <a href="{{self.url}}" class="btn btn-rounded btn-primary ml-1"
        >{{self.button_text}}</a
      >
    </p>
  </div>
</div>

{%else%}

<div class="bordered p-4">
  <div
    class="row justify-content-between align-items-center text-center text-md-left cta-block"
  >
    {% if self.icon %}
    <div class="col-md-2">
      <i class="svg-icon fs-60 text-blue"> {{self.icon.svg|safe}} </i>
    </div>
    {% endif %}
    <div class="{% if self.icon %}col-md-6{% else %}col-md-8{% endif %} mb-1">
      <h3 class="mb-0">{{self.calling}}</h3>
      <p>{{self.description}}</p>
    </div>
    <div class="col-md-4 text-lg-right">
      <a href="{{self.url}}" class="btn btn-rounded">{{self.button_text}}</a>
    </div>
  </div>
</div>
{%endif%}
