{% load i18n %}
{% load wagtailimages_tags %}


<div class="row gutter-2">

  {% for feature in self.features %}
  <div class="{% if self.features|length == 4 %}col-sm-12 col-md-6 col-lg-6 d-flex align-items-stretch {% else %}col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch {%endif%} ">

      <div class="card rising">
          {% image feature.image fill-800x400 as tmp_photo %}
          <img class="card-img-top" src="{{ tmp_photo.url }}" alt="{{feature.title}}">

    <div class="card-body">
      <h5 class="card-title">{{feature.title}}</h5>
      <div class="card-text"> {{feature.content}}</div>
    </div>
    {% if feature.more %}
    <div class="card-footer cta-block">
      <a href="{{feature.more.url}}" class="card-link rounded">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "en" %}
          More...
        {% else %}
          Többet erről!
        {% endif %}
      </a>
    </div>

    {% endif %}
  </div>
  </div>
  {% endfor %}
</div>
