
{% load wagtailcore_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="p-0 {% if is_featured %}bg-gray{% endif %} {% if index == 1 and not page.hero_image and not page.hero_slideshow %}pt-6{%  endif %}">
    <div class="container py-3 {% if not is_featured %}bg-white{% endif %}">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-left">
                {% if self.size == 'h2' %}
                    <h2 class="text-transform-none {% if is_featured %}text-red mb-1{% endif %}" {% if self.link_id %} id="{{ self.link_id|slugify }}" {% endif %}>
                        {{ self.heading_text }}
                    </h2>
                {% elif self.size == 'h3' %}
                    <h3 class="text-transform-none {% if is_featured %}text-red mb-1{% endif %}" {% if self.link_id %} id="{{ self.link_id|slugify }}" {% endif %}>
                        {{ self.heading_text}}
                    </h3>
                {% elif self.size == 'h4' %}
                    <h4 class="text-transform-none" {% if self.link_id %} id="{{ self.link_id|slugify }}" {% endif %}>
                        {{ self.heading_text}}

                    </h4>
                {% endif %}
                {% if self.lead_hu %}
                    <div class="lead {% if is_featured %}text-white{% endif %}">
                        {{ self.lead|richtext }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
