{% load wagtailimages_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<figure class="photo">
    {% image self.image max-1920x1200 as tmp_photo %}
    <img src="{{tmp_photo.url}}" alt="{% if LANGUAGE_CODE == 'en' %}{{ self.caption_en }}{% else %}{{ self.caption_hu }}{% endif %}">

    <figcaption>
        {% if LANGUAGE_CODE == 'en' %}{{ self.caption_en }}{% else %}{{ self.caption_hu }}{% endif %}
        {% if self.caption_hu and self.attribution %} – {% endif %}
        {% if self.attribution %}{{ self.attribution }}{% endif %}
    </figcaption>

</figure>
