
{% load wagtailcore_tags %}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul class="masonry row gutter-2">
          {% for item in self.items %} 
            {% include_block item with index=forloop.counter %} 
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
