{% load i18n %}
{% load wagtailimages_tags %}
{% get_current_language as LANGUAGE_CODE %}

<div class="owl-carousel owl-carousel-single" data-dots="true" data-nav="true" data-autoplay="true">
    {% for item in self.slides %}
    <figure class="photo">
        {% image item.value.image max-1920x1200 as tmp_photo %}
        <img src="{{tmp_photo.url}}" alt="{% if LANGUAGE_CODE == 'en' %}{{ item.value.caption_en }}{% else %}{{ item.value.caption_hu }}{% endif %}">
    </figure>
    {% endfor %}
</div>
