{% load wagtailimages_tags %} 
{% load wagtailcore_tags %} 
{% load i18n %}

{% image self.image max-600x600 as tmp_photo %}

<li class="col-md-6 col-lg-4">
  <article class="tile">
    <div class="tile-image" style="background-image: url({{tmp_photo.url}});"></div>
    <a href="{% pageurl self.link %}" class="tile-content">
  
      <div class="tile-footer">
        <span class="eyebrow">{{self.eyebrow}}</span>
        <h3>{{self.title}}</h3>
      </div>
    </a>
  </article>
</li>
