<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-md-7">
      <video id="{{index}}" class="youtube video-js  vjs-default-skin video-16-9" controls width="640" height="264"
        data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{self.video_url}}"}], "youtube": { "ytControls": 2 } }'>
      </video>
    </div>
    <div class="col-md-5 pl-md-5">
      <span class="eyebrow mb-2">{{self.eyebrow}}</span>
      <h2>{{self.title}}</h2>
      <p>{{self.description}}</p>
    </div>
  </div>
</div>
