/* The hero image */
.hero h1 {
  color: white;
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 200px 0 30px 0;
  position: relative;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 400px 0 60px 0;
    margin: 0 0 40px;
  }
}

.hero-gradient-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 1) 100%);
}

/* school page */
.hero {
  margin: 0;
  padding: 200px 0 30px 0;
}

.hero h1 {
  font-size: 2.2em;
  text-transform: uppercase;
}

.hero h1:after {
  background-color: rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
  height: 5px;
  margin: 20px auto;
  width: 250px;
}

.home-hero {
  margin-bottom: 0;
  padding-bottom: 60px;
  text-align: center;
}

.home-hero .lead {
  color: #ddd;
  font-size: 1.6em;
  margin: 40px auto;
}

.home-hero .hero-cta-link {
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px 34px 10px 10px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-duration: 0.1s;
}

.homepage .home-hero .hero-cta-link:before {
  content: "\f18e";
  font-family: FontAwesome;
  font-size: 1.2em;
  font-weight: 200;
  opacity: 0.8;
  padding: 0 1px;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  transform: translateZ(0);
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.homepage .home-hero .hero-cta-link:hover:before,
.homepage .home-hero .hero-cta-link:focus:before,
.homepage .home-hero .hero-cta-link:active:before {
  transform: translateX(4px);
}

.language_chooser form {
  /*nav#*/
  display: inline-block;
  margin: 0;
  padding: 0;
}

.language_chooser button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: #8c8c8c;
  /* whatever you like */
  /*text-decoration: underline;  if you like */
}

.language_chooser button:hover {
  color: #ffffff;
}

/*
.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
*/
.navbar-nav a {
  color: #8c8c8c;
}

nav navbar-nav {
  background-color: #343a40 !important;
}

body {
  background-image: url("paper.gif");
  background-color: #ffffff;
  font-size: 16px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Segoe UI",
    Roboto, "Helvetica Neue",
    Arial, sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.bg-dark-footer {
  background-color: #343a40 !important;
  /*font-weight: bold;*/
}

footer {
  color: #ffffff;
  text-align: center;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0px;
}

p {
  margin: 0 0 20px;
}

.pb-5, .py-5 {
  padding-bottom: 2rem !important;
}

.pt-5, .py-5 {
  padding-top: 2rem !important;
}

.h1, h1 {
  font-size: 3.6rem;
  font-weight: 500;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  /*font-weight: 500;*/
  line-height: 1.2;
  color: inherit;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  color: #6c757d;
}

.breadcrumb ul {
  padding-left: 0px;
}

.breadcrumb li {
  float: left;
  list-style-type: none;
}

.breadcrumb li::before {
  content: "/";
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.container .row .col-md-7 {
  padding-bottom: 30px;
}

.col-md-7 {
  width: 100%;
}

.menu_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.dropdown-menu {
  font-size: 16px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto, "Helvetica Neue",
    Arial, sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
  color: #8c8c8c;
  text-decoration: none;
  background-color: red;
  /*#007bff;*/
}

.dropdown {
  font-size: 16px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto, "Helvetica Neue",
    Arial, sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.dropdown a {
  color: #8c8c8c;
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #ffffff;
}

nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #8c8c8c;
}