{% load wagtailuserbar %}
{% load static %}
{% load i18n %}
{% load menu_tags %}
{% load wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <title>{% block title %}{{ page.title }} · {{ request.site.site_name }}{% endblock %}</title>
        {% include 'includes/head.html' %}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

<body class="{% block body_class %}{% endblock %}"> {# Override this block to set custom body classes on a template by template basis #}

  {% include 'includes/tracking-body.html' %}

  {% include 'includes/header.html' %}

  {% wagtailuserbar %}
  {% block cover %}
  {% include 'includes/cover.html'%}
  {% endblock %}
  {% block before_content %}
  {% endblock %}


  {% block content %}
  {% endblock %}

  {% include "includes/footer.html" %}


  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
  {% if page.hero_slideshow %}
  <script>
    $(window).on("load", function() {
      var mySwiper = document.querySelector('.swiper-container').swiper
      mySwiper.autoplay.start()
    });
  </script>
  {% endif %}
</body>

</html>
